<!--Div para mostrar un mensaje de cargando mientras se obtiene la data de la base de datos-->
<div *ngIf="loading" class="alert alert-info text-center mt-3 animated fadeIn faster container">
	<h4 class="alert-heading">Cargando</h4>
	<p>
		<i class="fas fa-sync-alt fa-2x fa-spin"></i>
	</p>
	<p class="mb-0">Espere por favor</p>
</div>

<!--Div para mostrar la información del juego luego de que se obtuvo de la base de datos.-->
<div *ngIf="!loading">
	<!--Botón para volver al Home-->
	<div class="row">
		<div class="col text-left">
			<button [routerLink]="['/home']" type="button" class="btn btn-outline-primary">
				<i class="fa fa-arrow-left" aria-hidden="true"> </i>
				Home
			</button>
		</div>
	</div>

	<!--Div para mostrar el tablero de los juegadores con el nombre y los puntos obtenidos-->
	<div class="row text-center mt-1">
		<div class="col">
			<div
				class="alert"
				role="alert"
				[class.alert-primary]="game.paper?.isGameRunning && game.activePlayer === 'X'"
				[class.alert-secondary]="!game.paper?.isGameRunning || game.activePlayer !== 'X'"
			>
				<!--Div que contiene el input para ajustar el nombre del juegador owner-->
				<div *ngIf="mode === 'owner'; else noOwner" (click)="editing = true" class="clicked">
					<input
						*ngIf="editing; else noOwner"
						name="ownerName"
						class="form-control"
						type="text"
						[(ngModel)]="ownerName"
						(keyup.enter)="actualizarName()"
						autofocus
					/>
				</div>
				<!--Template a mostrar en caso de que no se este editando el nombre del owner-->
				<ng-template #noOwner>
					{{ game.owner }}
					<span class="badge badge-pill badge-primary float-right">{{ game.ownerWinners }}</span>
					<span *ngIf="game.paper?.winner && game.activePlayer === 'X'" class="badge bg-success float-right mr-1">¡Punto!</span>
					<span *ngIf="game.paper.turnCount === 9 && !game.paper.winner" class="badge bg-info text-dark float-right mr-1">Empate</span>
				</ng-template>
			</div>
		</div>
		<div class="col">
			<div
				*ngIf="game.isFull"
				class="alert"
				role="alert"
				[class.alert-primary]="game.paper?.isGameRunning && game.activePlayer === 'O'"
				[class.alert-secondary]="!game.paper?.isGameRunning || game.activePlayer !== 'O'"
			>
				<!--Div que contiene el input para ajustar el nombre del juegador guest-->
				<div *ngIf="mode === 'guest'; else noGuest" (click)="editing = true" class="clicked">
					<input
						*ngIf="editing; else noGuest"
						name="guestName"
						class="form-control"
						type="text"
						[(ngModel)]="guestName"
						(keyup.enter)="actualizarName()"
						autofocus
					/>
				</div>
				<!--Template a mostrar en caso de que no se este editando el nombre del guest-->
				<ng-template #noGuest>
					<span class="badge badge-pill badge-primary leftContent">{{ game.guestWinners }}</span>
					<span *ngIf="game.paper?.winner && game.activePlayer === 'O'" class="badge bg-success leftContent ml-1">¡Punto!</span>
					<span *ngIf="game.paper.turnCount === 9 && !game.paper.winner" class="badge bg-info text-dark leftContent ml-1">Empate</span>
					{{ game.guest }}
				</ng-template>
			</div>

			<div *ngIf="!game.isFull" class="alert alert-secondary" role="alert">
				<i class="fa fa-sync fa-spin"></i>
				Esperando Jugador...
			</div>
		</div>
	</div>

	<!--Botón para iniciar un nuevo juego, sólo se muestra cuando un juego a terminado-->
	<div class="text-center">
		<button
			class="btn btn-primary mb-1"
			*ngIf="!game.paper?.isGameRunning || (game.paper.turnCount === 9 && !game.paper.winner)"
			(click)="startGame()"
			[disabled]="!game.isFull"
		>
			Jugar
		</button>
	</div>

	<!--Componente para toda la infromación del paper o tablero de juego-->
	<app-paper></app-paper>
</div>
