<div class="container animated fadeInLeft text-center mt-4">
	<div class="row">
		<h1 class="titulo">
			{{ title }}
		</h1>
		<p class="texto">Diviértete con tus amigos jugando Tic-Tac-Toe</p>
	</div>

	<div class="row">
		<div class="col">
			<span style="color: Dodgerblue">
				<i class="fa fa-times fa-4x"></i>
			</span>
			<i class="far fa-circle fa-4x"></i>
		</div>
	</div>

	<div class="row mt-4">
		<div class="col">
			<button type="button" class="btn btn-outline-primary mr-2" [disabled]="loading" (click)="createGame()">
				<i class="fa fa-sync fa-spin" *ngIf="loading"></i>
				Crear Sala
			</button>
			<button [routerLink]="['/gamesList']" type="button" class="btn btn-outline-primary">Unirme a Sala</button>
		</div>
	</div>
</div>
