<nav class="navbar default-layout col-sm-12 col-12 p-0 fixed-top d-flex flex-row">
	<div class="navbar-menu-wrapper d-flex align-items-center">
		<ul class="navbar-nav navbar-nav-right">
			<li class="nav-item d-none d-sm-inline-block">
				<a class="nav-link" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
					<span class="profile-text">Hola, Vacan-T!</span>
					<img class="img-xs rounded-circle" src="assets/images/faces-clipart/pic-2.png" alt="Profile image" />
				</a>
			</li>
		</ul>
	</div>
</nav>
