<footer class="footer">
	<div class="container-fluid clearfix">
		<span class="text-muted d-block text-center text-sm-left d-sm-inline-block"
			>Derechos reservados © {{ ano }} <a href="https://www.linkedin.com/in/cjavierg/" target="_blank">Carlos Gómez</a>.</span
		>
		<span class="float-right d-block mt-1 mt-sm-0 text-center"
			>Creado con
			<i class="fa fa-heart text-danger"></i>
		</span>
	</div>
</footer>
