<div class="animated fadeInRight">
	<!--Botones de volver al home e input de busqueda-->
	<div class="row">
		<div class="col text-left">
			<button [routerLink]="['/home']" type="button" class="btn btn-outline-primary">
				<i class="fa fa-arrow-left" aria-hidden="true"> </i>
				Atrás
			</button>
		</div>

		<div class="col text-right">
			<form [formGroup]="formSearch" autocomplete="off" (ngSubmit)="search()" class="d-flex">
				<input formControlName="id" class="form-control me-2" type="text" placeholder="ID Sala" aria-label="Buscar" autofocus />
				<button class="btn btn-outline-primary" type="submit">
					<i class="fa fa-search"></i>
				</button>
			</form>
		</div>
	</div>
	<hr />

	<!--Tabla con la información de las salas encontradas en Firebase-->
	<div class="table-responsive animated fadeIn faster animated fadeIn faster container" *ngIf="!loading && games.length > 0">
		<table class="table mt-1">
			<thead class="table-primary">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Sala</th>
					<th scope="col">Jugador 1</th>
					<th scope="col">Jugador 2</th>
					<th scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let game of games; let i = index">
					<th scope="row">{{ i + 1 }}</th>
					<td>{{ game.gameId }}</td>
					<td>{{ game.owner }}</td>
					<td *ngIf="game.isFull">
						{{ game.guest }}
					</td>
					<td *ngIf="!game.isFull">
						<label class="badge badge-primary"> <i class="fa fa-sync fa-spin"></i> Esperando... </label>
					</td>

					<td>
						<button [routerLink]="['/game', game.gameId]" class="btn btn-outline-primary" [disabled]="game.isFull">
							<i class="fa fa-eye" aria-hidden="true" title="Ingresar"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<!--Mensaje informativo cuando no existen salas-->
	<div *ngIf="!loading && games.length === 0" class="alert alert-primary text-center mt-3 animated fadeIn faster container">
		<h4 class="alert-heading">No se encontraron salas</h4>
		<p>
			<i class="fa fa-exclamation fa-2x" aria-hidden="true"></i>
		</p>
	</div>

	<!--Mensaje de cargando-->
	<div *ngIf="loading" class="alert alert-info text-center mt-3 animated fadeIn faster container">
		<h4 class="alert-heading">Cargando</h4>
		<p>
			<i class="fas fa-sync-alt fa-2x fa-spin"></i>
		</p>
		<p class="mb-0">Espere por favor</p>
	</div>
</div>
