.space {
	height: 96%;
	text-align: center;
	line-height: 0.85;
	cursor: pointer;
	border: 1px;
	border-radius: 0.5rem;
}

p {
	display: inline;
	margin: 0px;
	font-size: 8rem;
	overflow: hidden;
}

.noClick {
	pointer-events: none;
}

.bg-color {
	background-color: #dbf8ff;
}

.xColor {
	color: Dodgerblue;
}
