section {
	width: 600px;
	display: flex;
	justify-content: space-evenly;
	align-content: space-between;
	align-items: center;
	margin: auto;
	flex-wrap: wrap;
}

.space-container {
	flex: 0 0 32%;
}

.h-48 {
	height: 8rem;
}

.w-60 {
	min-width: 50%;
}
